.feed {
  padding: 20px 10px;
}

.feed-title {
  text-align: center;
  font-size: 28px;
}

.feed-area {
  border: 1px solid #eee;
  overflow-y: scroll;
  height: 500px;
  margin-top: 30px;
  padding: 10px;
}

.feed-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feed-item,
.feed-status {
  padding: 10px;
  background-color: #383838;
}

.feed-status {
  margin-top: 10px;
  text-align: center;
}
